.trans{
    padding: 2rem 0;
}

.trans_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.trans_header_filters{
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
    color: var(--color-text-light);
}

.trans_content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.trans_item{
    background: var(--gradient-bg-light);
    border-radius: 4px;
    box-shadow: 1px 0 12px rgba(0,0,0,0.2);
    padding: 0.75rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trans_item-icon{
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 300px;
    background-color: var(--color-success);
    display: flex;
    justify-content: center;
    align-items: center;
}
.trans_item-icon.error{
    background-color: var(--color-error);
}

.trans_item-data{
    flex: 1;
}
.trans_item-data > div{
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25rem;
    color: var(--color-text-light);
}

.trans_item-action{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.loading{
    text-align: center;
}

.data-error{
    text-align: center;
    color: var(--color-error);
}