/* ############ btn default and normal and primary */
.btn{
    --btn-size:1rem;
    --btn-bg-color:var(--color-primary);
    --btn-padding:0.5rem 1rem;
    border: none;
    outline: none;
    font-size: var(--btn-size);
    font-weight: 700;
    color: var(--color-text); /* for all buttons */
    background: var(--btn-bg-color);
    cursor: pointer;
    border-radius: 4px;
    padding: var(--btn-padding);
    transition: all 0.3s;
}

.btn:hover{
    --btn-bg-color:var(--color-primary-light);
}
.btn:active{
    --btn-bg-color:var(--color-primary-dark);
}
/* ####################### */
/* small and large */
.btn-small{
    --btn-size:0.75rem;
}
.btn-large{
    --btn-size:1.25rem;
    --btn-padding:0.75rem 1.25rem;
}
/* ############################### */
/* success */
.btn-success{
    --btn-bg-color:var(--color-success);
}

.btn-success:hover{
    --btn-bg-color:var(--color-success-light);
}
.btn-success:active{
    --btn-bg-color:var(--color-success-dark);
}
/* ############################################### */
/* error */
.btn-error{
    --btn-bg-color:var(--color-error);
}

.btn-error:hover{
    --btn-bg-color:var(--color-error-light);
}
.btn-error:active{
    --btn-bg-color:var(--color-error-dark);
}
/* ############################################### */
/* block */
.btn-block{
    width: 100%;
}
/* ############################################### */
/* Icon */
.btn-icon{
    --btn-padding:0;
    /* border-radius: 20rem; */
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ############################################### */

.btn:disabled{
    opacity: 0.5;
    cursor:not-allowed;
}