/* Used Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #714fda;
  --color-primary-light: #866bde;
  --color-primary-dark: #593daf;

  --color-success: #648696;
  --color-success-light: #839faa;
  --color-success-dark: #46606c;

  --color-error: #e53b89;
  --color-error-light: #ee75ac;
  --color-error-dark: #b22b6a;

  --color-text: #f7f8f8;
  --color-text-light: #cacacc;
  --color-text-dark: #ffffff;

  --gradient-bg: linear-gradient(45deg, #121b1a, #1d1a2d);
  --gradient-bg-transparet: linear-gradient(180deg, #121c1ab6, #1d1a2d79);
  --gradient-bg-light: linear-gradient(45deg, #283334, #303541);
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  vertical-align: middle;
  color: var(--color-text);
}

body {
  background: var(--gradient-bg);
  min-height: 100vh;
}

::selection {
  background-color: var(--color-primary-dark);
}


/* 
sm: 576
md: 768
lg: 992
xl: 1200 
*/

/* utilites  */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 0.75rem;
  /* sm  */
  max-width: 576px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.no-data {
  padding: 2.5rem 1rem;
  text-align: center;
  opacity: 0.5;
}

/* forms  */


.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-group{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
select {
  outline: none;
  background: #1e1f1f;
  border: 1px solid #283334;
  border-radius: 3px;
  padding: 10px;
  color: var(--color-text);
  min-width: 250px;
}

input:focus,
select:focus {
  border-color: var(--color-primary);
}

input.error,
select.error {
  border-color: var(--color-error);
  text-align: start;
}

.form-group p.error {
  font-size: 0.75rem;
  color: var(--color-error);
  text-align: start;
}

.filters-select {
  min-width: 50px;
  background-color: #454747;
  width: fit-content;
}
